<div th:fragment="footer">
	<footer>
		<!-- Footer -->
		<div class="arrow-buttons">
			<form th:action="@{/study/{id}/flashcard/previous(id=${id})}"
				method="post">
				<input type="hidden" name="currentIndex" th:value="${currentIndex}" />
				<input type="hidden" name="curriculum_name"
					th:value="${curriculumName}" />
				<button class="arrow left" th:disabled="${currentIndex == 0}">&#8592;</button>
			</form>
			<!-- Form chuyển đến flashcard trước đó -->
			<form th:action="@{/study/{id}/flashcard/next(id=${id})}"
				method="post">
				<input type="hidden" name="currentIndex" th:value="${currentIndex}" />
				<input type="hidden" name="curriculum_name"
					th:value="${curriculumName}" />
				<button class="arrow right"
					th:disabled="${currentIndex >= vocabularyList.size()}">&#8594;</button>
			</form>
		</div>
	</footer>
</div>