<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>Capylingo</title>
    <link rel="stylesheet" href="style/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/Bootstrap/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.9/fullpage.min.css"
          integrity="sha512-8M8By+q+SldLyFJbybaHoAPD6g07xyOcscIOQEypDzBS+sTde5d6mlK2ANIZPnSyxZUqJfCNuaIvjBUi8/RS0w=="
          crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
<div id="fullpage">
    <div class="section web-header">
        <div class="header-container">
            <div class="header-content">
                <img src="/img/logo.png" width="100" top=500>
                <h3>Welcome To</h3>
                <h1>Carpylingo</h1>
                <p></p>
                <p>English Language Learning Platform</p>
                </p>
                <a href="/login">Sign in</a>
            </div>
        </div>
    </div>

    <section class="section section1">
        <div class="info">
            <h1>Let's learn and play together!</h1>

        </div>
    </section>

    <section class="section section2">
        <div class="section-container">
            <div class="info">
                <h1>Very Low Cost <br> For All Courses</h1>
                <a href="" class="button">Learn More</a>
            </div>
        </div>
    </section>
</div>

</body>

</html>
